.footer {
  background: #393b44;
  text-align: center;
  height: 100px;
  padding: 0px 50px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  padding-top: 35px;
  margin-top: 50px;
}
